<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <script src="js/currencyValidator.js"></script>
    <!--velocity.js 是一个简单易用、高性能、功能丰富的轻量级JS动画库-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <!--Lodash 是一个具有一致接口、模块化、高性能等特性的 JavaScript 工具库-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
    <!-- tween.js是一款可生成平滑动画效果的js动画库。tween.js允许你以平滑的方式修改元素的属性值。它可以通过设置生成各种类似CSS3的动画效果-->
    <script src="https://unpkg.com/tween.js@16.3.4"></script>
    <!--Color.js为前端开发者提供了一个简单的颜色管理的API-->
    <script src="https://unpkg.com/color-js@1.0.3/color.js"></script>
    <style>

    </style>
</head>
<body>
<div id="demo" class="demo">
    Fade In: <input type="range" v-model="fadeInDuration" min="0" v-bind:max="maxFadeDuration">
    Fade Out: <input type="range" v-model="fadeOutDuration" min="0" v-bind:max="maxFadeDuration">
    <transition v-bind:css="false" v-on:before-enter="beforeEnter" v-on:leave="leave" v-on:enter="enter">
        <p v-if="show">hello</p>
    </transition>
    <button v-on:click="stop = true">Stop it!</button>
</div>
<script>
    new Vue({
        el: '#demo',
        data: {
            show: true,
            fadeInDuration: 1000,
            fadeOutDuration: 1000,
            maxFadeDuration: 1500,
            stop: false
        },
        mounted: function () {
            this.show = false
        },
        methods: {
            beforeEnter: function (el) {
                el.style.opacity = 0
            },
            enter: function (el, done) {
                var vm = this
                Velocity(el, {opacity: 1}, {duration: this.fadeInDuration, complete: function () {
                    done()
                    if (!vm.stop) vm.show = false
                }})
            },
            leave: function (el, done) {
                var vm = this
                Velocity(el, {opacity: 0}, {duration: this.fadeOutDuration, complete: function () {
                    done()
                    vm.show = true
                }})
            }
        }
    })
</script>
</body>
</html>